.row{
    padding: 80px;
    font-size: 30px;
    /* width: 1200px; */
    text-align: center;
    text-decoration: none;
    margin:20px 80px;
    background-color: antiquewhite;
}
h1{
    text-align: center;
    padding: 10px;
    font-size: 50px;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}
  
.fa:hover {
   opacity: 0.7;
}
.fa-linkedin {
    background: #007bb5;
    color: whitesmoke;
    border: 3px black solid;
}
  
.fa-youtube {
    background: #bb0000;
    color: white;
    border: 3px black solid;
}
  
.fa-instagram {
    background: #125688;
    color: white;
    border: 3px black solid;
}

.fa-facebook {
    background: #3B5998;
    color: white;
    border: 3px black solid;
}
  
.fa-twitter {
    background: #55ACEE;
    color: white;
    border: 3px black solid;
}

@media only screen and (max-width: 850px){
    .row{
        padding: 5px;
        font-size: 30px;
        width: 180px;
        height: auto;
        text-align: center;
        text-decoration: none;
        margin: 60px 105px;
        background-color: wheat;
    }
    .fa {
        padding: 10px;
        font-size: 30px;
        width: 50px;
        height: 35px;
        text-align: center;
        text-decoration: none;
        margin: 3px 3px;
    }
    h1{
        text-align: center;
        padding: 10px;
        font-size: 33px;
        margin-top: 100px;
    }
}